<h1>Listing privileges</h1>

<table>
  <tr>
    <th>Name</td>
    <th>Resource Type</th>
    <th>Resource ID</th>
    <th>Readable?</th>
    <th>Writable?</th>
    <th>Executable?</th>
    <th>Deletable?</th>
    <th colspan="2">Action</th>
  </tr>

<% for privilege in @privileges %>
  <tr>
    <td><%= privilege.name %></td>
    <td><%= privilege.resource_type %></td>
    <td><%= privilege.resource_id %></td>
    <td><%= privilege.readable %></td>
    <td><%= privilege.writable %></td>
    <td><%= privilege.executable %></td>
    <td><%= privilege.deletable %></td>
    <td><%= link_to 'Edit', edit_privilege_path(privilege) %></td>
    <td><%= link_to 'Destroy', privilege, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New privilege', new_privilege_path %>
