<div id="model_list">
  
  <div id="streamlined_list">
		<table class="sl_list" id="sl_list_plotters">
	  <thead>
				
				<tr>
			  
	    <th class="sortSelector" col="stock_number" scope="col">用户名</th>
			  
	    <th class="sortSelector" col="model_name" scope="col">创建日期</th>
			  
			  <th>&nbsp;</th>
		  </tr>
	  </thead>
	  <tbody>
<% count = 1 %>  
<% @users.each do |user|%>
    <tr class="<%= count % 2 > 0 ? "odd" : "even" %>">
      <td>
        <%= user.login %>
      </td>
      <td>
      	<%= user.created_at %>    	
      </td>
      <td>
        <a href="/user/reset_password/<%= user.id %>">重置密码</a>
      	<a href="/user/destroy/<%= user.id %>" onclick="if (confirm('你确定要打印么？')) {return true;} else {return false;}">删除</a>    	
      </td>
    </tr>
<% count += 1 %>
<% end %> 
    
    
  </tbody>
  </table>
</div>
</div>
