<%= error_messages_for 'user' %>

<h3>修改<%= @user.login %>密码</h3>

<%= flash[:message]%>

<% form_tag :action => 'reset_password' do %>

<label for="user_password">新的密码:</label><br/>
<%= password_field "user", "password", :size => 20, :value=>"" %><br/>

<label for="user_password_confirmation">重复一遍:</label><br/>
<%= password_field "user", "password_confirmation", :size => 20, :value=>"" %><br/>
<%= hidden_field "user", "id", :value => @user.id %>
<%= submit_tag "确认修改" %>

<% end %>
