<% @host_nodes.each do |hn| %>
<table>
  <tr>
  	<td colspan="6"><%= hn.ip_address %></td>	
  </tr>
  <tr>
    <th>VMID</th>
    <th>Type</th>
    <th>Name</th>
    <th>Status</th>
    <th>IP Address</th>
    <th>Action</th>
  </tr>
  <% hn.vms.each do |vm| %>
  <tr>
    <td><%= vm.id %></td>
    <td><%= vm.type %></td>
    <td><%= vm.name %></td>
    <td><%= vm.status %></td>
    <td><%= vm.ip_address %></td>
    <td>
    <% if vm.stopped? %>
      <a href="/virtual_machines/start/<%= vm.id %>?host_ip=<%= vm.host_ip %>">Start</a>
    <% elsif vm.running? %>
       <a href="/virtual_machines/stop/<%= vm.id %>?host_ip=<%= vm.host_ip %>">Stop</a>
       <a href="/virtual_machines/vnc_client/<%= vm.id %>?host_ip=<%= vm.host_ip %>" target="_new">Console</a>
       <% if vm.type == 'qm' %>
       <a href="/virtual_machines/qm_monitor/<%= vm.id %>?host_ip=<%= vm.host_ip %>" target="_new">Monitor</a>
       <% end %>
    <% end %>
    </td>
  </tr>
  <% end %>
</table>
<br />
<% end %>
<br />
<div>
  <%= flash[:message] %>
</div>
